<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="applicationUpdater" type="Link.AppUpdater.Configuration.ApplicationUpdaterSettings, Update" />
    </configSections>

    <!-- 환경 설정 섹션 -->
    <applicationUpdater title="E-FAM Update" updateUri="http://10.10.71.51/EFAM/updates/update_x86.xml">
        <application applicationId="EFAM" version="5.1.8.0" />
        <entryPoint file="EFAM.exe" arguments="/updatechecked" />
    </applicationUpdater>
</configuration>
